#HOST = https://datavalidation.fxcintel.com
#HOST_ADMIN = https://datavalidation.fxcintel.com/admin
#HOST=http://localhost:4000
#HOST_ADMIN=http://localhost:4000/admin
HUB_HOST=selenium-hub.fxcintel.com
DV_USER=a1@getnada.com
DV_PSWD=!QAZxsw2
DB_CREDS=mongodb://test.user:kN1lC8uC1fS4cK5u@mongo-01.dev.datavalidation.fxcintel.com:27017,mongo-02.dev.datavalidation.fxcintel.com:27017,staging.datavalidation.fxcintel.com:27017/admin?replicaSet=rep0
OTHER_DB_CREDS=mongodb://test.user:kN1lC8uC1fS4cK5u@mongo-01.datavalidation.fxcintel.com:27017,mongo-02.datavalidation.fxcintel.com:27017/webappdb?replicaSet=datavalidation.prod
DB_NAME=webappdb
#DB_CREDS=mongodb://halina.hulidava:Meitahr3shoh@mongo-01.dev.datavalidation.fxcintel.com:27017,mongo-02.dev.datavalidation.fxcintel.com:27017,staging.datavalidation.fxcintel.com:27017/webappdb?replicaSet=rep0
#OTHER_DB_CREDS=mongodb://hhulidava:CnNx7AV724656Pr@mongo-01.datavalidation.fxcintel.com:27017/?authSource=webappdb&replicaSet=datavalidation.prod&readPreference=primary&appname=MongoDB%20Compass&ssl=false
#DB_CREDS=mongodb://hhulidava:CnNx7AV724656Pr@mongo-01.datavalidation.fxcintel.com:27017/?authSource=webappdb&replicaSet=datavalidation.prod&readPreference=primary&appname=MongoDB%20Compass&ssl=false
#OTHER_DB_CREDS=mongodb://halina.hulidava:Meitahr3shoh@mongo-01.dev.datavalidation.fxcintel.com:27017,mongo-02.dev.datavalidation.fxcintel.com:27017,staging.datavalidation.fxcintel.com:27017/webappdb?replicaSet=rep0
S3_IMG_PATH=https://s3.eu-west-1.amazonaws.com/fxci.card-data-collection/tnc_screenshots_and_pdfs/
ELK_USER=halina.hulidava
ELK_PSWD=h12746Pa6V0p9HH
KIBANA_SOURCE=datavalidation.app
ELK_URL=logs.fxcompared.com
ELK_PORT=5047
REDMINE_HOST=https://rm.fxcompared.com/projects/data-validation/wiki/test_1
REDMINE_USER=Automated.Test
REDMINE_PSWD=ibdXXz4I


DB_URL=mongodb://mongo-01.dev.datavalidation.fxcintel.com:27017,mongo-02.dev.datavalidation.fxcintel.com:27017,staging.datavalidation.fxcintel.com:27017/webappdb?replicaSet=rep0
MONGO_DATA_DIR=/data/db
MONGO_LOG_DIR=/dev/null
MONGODB_USER=app
MONGODB_PASS=IR1ZHp5qExT19iX
AWS_KEY=AKIAZAIV75PXEKAVOZ3N
AWS_SECRET=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
PORT=4000
REACT_APP_PROD=0
REACT_APP_BACKEND_URL=http://127.0.0.1:4001
FRONTEND_URL=http://localhost:4000
AUTH_SECRET=3434234